@font-face {
    font-family: alkalami;
    src: url(fonts/Alkalami-Regular.ttf);
  }

.container{
    padding-top: 70px;
}

body{
    background-image: url("images/bg.png");
    background-size: 100%;
    
    
}
nav{
    height: 70px;
    background-color: white;
  }
#navbarSupportedContent{
    background-color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 23px;
  }
#imageBrand{
    width: 60px;
    height: 50px;
}
#newbrand{
    font-family: alkalami;
   }
#brand{
    text-align: end;
    margin-right: 30px;
    margin-bottom: 40px;
    font-family: alkalami;
    font-size: 40px;
}
#thebrand{
    display: flex;
    justify-content: end;
    padding-top: 120px;
    font-size: 40px;
    margin-bottom: -60px;
}

.companygold{
    background-color: gold; /* White background color */
    border-radius: 40px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 20px;
    margin-bottom: 30px;
    width: 100%;
}
.companyodd {
    background-color: #2a9fdd; /* White background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 20px;
    margin-bottom: 30px;
}

.companyeven {
    background-color: #ffe5be; /* White background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 20px;
    margin-bottom: 30px;
}

.company h2 {
    color: #333333; /* Dark text color */
    font-size: 24px;
    margin-bottom: 10px;
}

.company p {
    color: #666666; /* Gray text color */
    font-size: 16px;
}

